.filepond--wrapper input[type="file"] {
  display: none; /* Hide the file input */
}

.filepond--label-action {
  color: white !important;
}

.filepond--complete-action {
  color: white !important;
  padding-right: 3rem;
}

.filepond--assistant span[id="filepond--assistant-qlu0ekk0s"] {
  color: white !important;
  padding-right: 3rem;
}

/* Hide the file list in FilePond */
.filepond--item {
  display: none !important;
}
