.filepond--wrapper input[type="file"] {
  display: none;
}

.filepond--label-action {
  color: white !important;
}

.filepond--complete-action {
  color: white !important;
  padding-right: 3rem;
}

.filepond--assistant span[id="filepond--assistant-qlu0ekk0s"] {
  color: white !important;
  padding-right: 3rem;
}


.filepond--item {
  display: none !important;
}
